<h1>Managed Services Dashboard</h1>

<!--<p>Viewing most recent results from storage '{{storageName}}', '{{tableName}}' table</p>-->

<table class="table table-striped">
  <tr>
    {{#with rows.[0]}}
      <th>Name</th>
      <th>Function</th>
      <th>Wave</th>
      <th>Subnet</th>
      <th>IP</th>
      <th>Disks</th>
      <th>Size</th>
    {{/with}}
  </tr>
  {{#each rows}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Function}}</td>
      <td>{{this.Wave}}</td>
      <td>{{this.Subnet}}</td>
      <td>{{this.IP}}</td>
      <td>{{this.Disks}}</td>
      <td>{{this.Size}}</td>
    </tr>
  {{/each}}
</table>
