<h1>Inventory Dashboard</h1>

<!--<p>Viewing most recent results from storage '{{storageName}}', '{{tableName}}' table</p>-->
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Resources..">
<button>Export to CSV</button>
<table id="inventoryTable" class="table table-striped">
  <tr>
    {{#with rows.[0]}}
      <th onclick="sortTable(0)">Name</th>
      <th onclick="sortTable(1)">Function</th>
      <th onclick="sortTable(2)">Wave</th>
      <th onclick="sortTable(3)">Subnet</th>
      <th onclick="sortTable(4)">IP</th>
      <th onclick="sortTable(5)">Disks</th>
      <th onclick="sortTable(6)">Size</th>
      <th onclick="sortTable(5)">Start</th>
      <th onclick="sortTable(6)">Stop</th>
    {{/with}}
  </tr>
  {{#each rows}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Function}}</td>
      <td>{{this.Wave}}</td>
      <td>{{this.Subnet}}</td>
      <td>{{this.IP}}</td>
      <td>{{this.Disks}}</td>
      <td>{{this.Size}}</td>
      <td>{{this.Autostart}}</td>
      <td>{{this.Autostop}}</td>
    </tr>
  {{/each}}
</table>
<script src="dist/column-resizer.js"></script>
<script type="text/javascript">
   window.onload = function() {
      let resizable = ColumnResizer.default;

        new resizable(document.querySelector("#inventoryTable"),{
            liveDrag:true,
            draggingClass:"rangeDrag",
            gripInnerHtml:"<div class='rangeGrip'></div>",
            minWidth:8
        });
   };
</script>
<script>
//Sort the table
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("inventoryTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("inventoryTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

		csv.push(row.join(","));
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("button").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
	export_table_to_csv(html, "table.csv");
});

</script>
