<h1>Managed Services Dashboard</h1>

<!--<p>Viewing most recent results from storage '{{storageName}}', '{{tableName}}' table</p>-->

<table class="table table-striped">
  <tr>
    {{#with rows.[0]}}
      <th>Name</th>
      <th>Function</th>
      <th>Wave</th>
      <th>Subnet</th>
      <th>IP</th>
      <th>Disks</th>
      <th>Size</th>
    {{/with}}
  </tr>
  {{#each rows}}
    <tr>
      <td>{{this.VM}}</td>
      <td>{{this.OS}}</td>
      <td style="{{#ifTrue this.AV}}{{/ifTrue}}">{{this.AV}}</td>
      <td style="{{#ifTrue this.Scan}}{{/ifTrue}}">{{this.Scan}}</td>
      <td style="{{#ifTrue this.Log}}{{/ifTrue}}">{{this.Log}}</td>
      <td>{{#tFormat this.Timestamp}}{{/tFormat}}</td>
    </tr>
  {{/each}}
</table>
